/*!Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
/*!---------------------О-Б-Н-У-Л-Е-Н-И-Е---------------------------*/

/* !==============================================================header */
.wrapper {
   height: 100%;
   width: 100%;
}
.header__menu {
   height: 100px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #050505;
   z-index: 100;
}
.header__list {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #050505;
   transition: 0.4s;
}

.header__item {
   position: relative;
}

.header__item:after {
   content: "";
   position: absolute;
   left: 0;
   top: 100%;
   width: 100%;
   height: 3px;
   background-color: rgb(255, 196, 0);
   opacity: 0;
}
.header__item:hover:after {
   opacity: 1;
   transition: 0.3s;
}
.header__item a {
   font-size: 50px;
   font-family: "Caveat", cursive;
   font-weight: 700;
   /* font-family: 'Lobster', cursive; */
   /* font-family: 'Marck Script', cursive; */
   /* font-family: 'Pacifico', cursive; */
   color: rgb(255, 196, 0);
}

/*! =========================================content====================== */
.content__wrapper {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: url(../img/travelsPiter/home.jpg) center/cover no-repeat fixed;
}
.content__caphedral {
   position: relative;
   width: 600px;
   height: 600px;
   margin: 10px;
   background: url(../img/travelsPiter/2.jpg) center/cover no-repeat;
   z-index: 1;
}
.content__caphedral:hover .content__absolute {
   opacity: 1;
   transition: 0.3s;
}
.content__fortress {
   position: relative;
   width: 600px;
   height: 600px;
   margin: 10px;
   background: url(../img/travelsPiter/1.jpg) center/cover no-repeat;
   z-index: 1;
}
.content__fortress:hover .content__absolute {
   opacity: 1;
   transition: 0.3s;
}
.content__museum {
   position: relative;
   width: 600px;
   height: 600px;
   margin: 10px;
   background: url(../img/travelsPiter/3.jpg) center/cover no-repeat;
   z-index: 1;
}
.content__museum:hover .content__absolute {
   opacity: 1;
   transition: 0.3s;
}
h2 {
   font-family: "Caveat", cursive;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* position: absolute; */
   top: 0;
   left: 0;
   cursor: pointer;
   font-size: calc(45px + 85 * (100vw / 2200));
   color: rgb(255, 196, 0);
}
.content__absolute {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(102, 102, 102, 0.651);
   opacity: 0;
   z-index: -1;
}
.content__petergof {
   position: relative;
   width: 600px;
   height: 600px;
   margin: 10px;
   background: url(../img/travelsPiter/4.jpg) center/cover no-repeat;
   z-index: 1;
}
.content__petergof:hover .content__absolute {
   opacity: 1;
   transition: 0.3s;
}
.content__zimny {
   position: relative;
   width: 600px;
   height: 600px;
   margin: 10px;
   background: url(../img/travelsPiter/5.jpg) center/cover no-repeat;
   z-index: 1;
}
.content__zimny:hover .content__absolute {
   opacity: 1;
   transition: 0.3s;
}
.content__other {
   position: relative;
   width: 600px;
   height: 600px;
   margin: 10px;
   background: url(../img/travelsPiter/6.jpg) center/cover no-repeat;
   z-index: 1;
}
.content__other:hover .content__absolute {
   opacity: 1;
   transition: 0.3s;
}

/*?=======================4096х1980=================================*/
@media (max-width: 1920px) {
}
/*===============================================================*/
@media (max-width: 1600px) {
}
/*===============================================================*/
@media (max-width: 1440px) {
}
/*===============================================================*/
@media (max-width: 1366px) {
}
/*===============================================================*/
@media (max-width: 1280px) {
}
/*===== 992px - 1200px ========BOOTSTRAP=========================*/
@media (max-width: 1200px) {
}
/*=============================BOOTSTRAP-C=======================*/
@media (max-width: 1140px) {
   .content__wrapper {
      margin-top: 70px;
   }
   .header__menu,
   .header__list {
      height: 70px;
   }
   .header__item a {
      font-size: 30px;
   }
}
/*===============================================================*/
@media (max-width: 1080px) {
}
/*===============================================================*/
@media (max-width: 1024px) {
}
/*======= 768px - 992px =======BOOTSTRAP=========================*/
@media (max-width: 992px) {
}
/*=============================BOOTSTRAP-C=========================*/
@media (max-width: 960px) {
}
/*===============================================================*/
@media (max-width: 900px) {
}
/*===============================================================*/
@media (max-width: 823px) {
}
/*===============================================================*/
@media (max-width: 812px) {
}
/*===============================================================*/
@media (max-width: 800px) {
}
/*======= 576px - 768px========BOOTSTRAP========================*/
@media (max-width: 768px) {
}

/*===============================================================*/
@media (max-width: 736px) {
}
/*=============================BOOTSTRAP-C=========================*/
@media (max-width: 720px) {
}
/*===============================================================*/
@media (max-width: 667px) {
}
/*===============================================================*/
@media (max-width: 640px) {
}
/*======= 0px - 576px ========BOOTSTRAP========================*/
@media (max-width: 576px) {
}
/*===============================================================*/
@media (max-width: 568px) {
}
/*=============================BOOTSTRAP-C=======================*/
@media (max-width: 540px) {
}
/*===============================================================*/
@media (max-width: 534px) {
   .content__higth {
      height: 400px;
   }
}
/*===============================================================*/
@media (max-width: 480px) {
}
/*===============================================================*/
@media (max-width: 414px) {
   .content__caphedral,
   .content__museum,
   .content__petergof,
   .content__fortress,
   .content__other,
   .content__zimny {
      height: 300px;
   }
}
/*===============================================================*/
@media (max-width: 375px) {
}
/*===============================================================*/
@media (max-width: 360px) {
}
/*===============================================================*/
@media (max-width: 320px) {
}
